name: luyun-cv
channels:
  - pytorch
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - pip
  - pip:
    - ultralytics
    - opencv-python
    - pandas
    - matplotlib
    - seaborn
    - albumentations
    - pillow
